*{
    padding:0px;
    margin:0px;
}
body{
    /* background-color: black; */
    background-image:url("bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    background-color: black;
    height:3vw;
    color:antiquewhite;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-style:inherit;
    font-weight: normal;
    font-size:1em;
    padding:5px 20px;
}
.formContainer form {
    margin:4% auto;
    padding: 3vh;
    height:50vw;
    width: 60%;
    font-size: 2vw;
    font-family: 'Kanit',sans-serif;
    color: rgb(60, 94, 123);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.86);
    border: 1px solid transparent;
}


.headin{
    text-align:end;
}