*{
    padding:0px;
    margin:0px;
}
body{
    /* background-color: black; */
    background-image:url("bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    background-color: black;
    height:3vw;
    color:antiquewhite;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-style:inherit;
    font-weight: normal;
    font-size:1em;
    padding:5px 20px;
}
.finput{
    max-width: none !important;
    display:flex;
    width: 100%;
    /* justify-content:space-around; */
}
.finput .fslcon{
    flex:1;
    /* margin-right: 10px; */
    /* margin: 0vw 3vw; */
}

.ftext{
    background-color:rgb(255,255,255,0);
    /* border:0px 0px auto 0px; */
    border:white solid 1px;
    border-radius: 6px;
    width: 100% !important;
    padding:4px 3px 2px;
    max-width: none !important;
    box-sizing: border-box;
    color: #ccc8c8;
    background-color: #333333;
        
    
    
}
/* .ftext, .form-textarea {
    color: #ffffff;
    padding: 4px 3px 2px 3px;
} */
.formContainer{
    height: fit-content;
    /* padding:10vw; */
}
.formContainer form {
    margin:4% auto;
    padding: 5vw;
    /* height:50vw; */
    width:fit-content;
    font-size: 2vw;
    font-family: 'Kanit',sans-serif;
    color: rgb(130, 129, 145);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.86);
    border: 1px solid transparent;
}
.fslabel{
    min-height:13px;
    color:rgb(108, 111, 111);
    margin:3px 0px 3px 3px;
    /* white-space: normal; */
    font-size: 0.786em;
    /* margin-top: 3px;
    margin-bottom: 3px; */
    word-wrap: break-word;
    /* margin-left: 3px; */
    display: block;
    
}
/* span.fslcon:first-child{
    padding-left: 0 !important;
    padding-right: 4px !important
}
span.fslcon:last-child{
    padding-left: 0 !important;
    padding-right: 4px !important
} */


.fslcon{
    vertical-align: top;
    /* width:50%; */
    /* display:inline-block */
    margin:0 5vw;


}


.headin{
    text-align:end;
}
/* .finput .fslcon {
    flex: 1;
    margin-right: 10px;
}

.finput .fslcon:last-child {
    margin-right: 0;
} */
div{
    display: block;
}
/* span.form-sub-label-container:first-child:nth-last-child(2){
    width: 50%;
     */
li#secId.fline{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    padding: 2px 0px;
}
li#thirdId.fline{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    padding: 2px 0px;
}
li#fourthId.fline{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    padding: 2px 0px;
}
li#fifthId.fline{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    padding: 2px 0px;
}
li#sixthId.fline{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    padding: 2px 0px;
}
li#sevenId.fline{
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;
    padding: 2px 0px;
}
.formContainer li{
    list-style:none;
}
.submission{
    text-align: center;
    align-items: auto;
    align-content: center;
    scale:2;
    padding:0.2vw;
    /* padding:1vw 1vw; */
}
/* {
    display: flex;
   align-items:flex-end; */
    /* scale: 2; */


